<div class="header container-fluid row">
	<div class="container col-3 align-self-center justify-content-center mx-0">
		<div id="directions" class="rounded border border-primary text-center">
			Welcome to Gator Ally!<br>
			To begin, select a Term.
		</div>
	</div>
	<form class="col-6 mx-0 px-0" method="get">
		<br>
		<div class="form-group row">
			<button class="rounded-circle border border-dark offset-1">.       1.   </button>
			<div class="mx-1"></div>
			<div class="col-4">
				<select name="term" class="custom-select" id="term" onchange="unlockSession();">
					<option value="" selected disabled>Select a Term</option>
					<option value="Summer" >Summer 2018</option>
					<option value="Fall" >Fall 2018</option>
				</select>
				<div class="valid-feedback"></div>
			</div>
			<div class="mx-4"></div>
			<button class="rounded-circle border border-dark">.       2.   </button>
			<div class="mx-1"></div>
			<div class="col-4">
				<select name="session" class="custom-select" id="session" onchange="unlockSearch();" disabled>
					<option value="All" selected disabled>Select a Session</option>
					<option value="Academic Regular Session">Academic Regular Session</option>
				</select>
				<div class="valid-feedback"></div>
			</div>
		</div>
		<div class="form-group row">
			<button class="rounded-circle border border-dark offset-1">.       3.   </button>
			<div class="mx-1"></div>
			<div class="col-3 pr-0">
				<select name="department" class="custom-select" id="department" disabled>
					<option value="All" selected>All Departments</option>
					<option value="General Education" >General Education</option>
					<option value="Biology" >Biology</option>
					<option value="Computer Science" >Computer Science</option>
					<option value="Math">Math</option>
				</select>
			</div>
			<input name="search" type="text" class="form-control col-6" id="search" placeholder="Search for classes" value="" disabled>
			<input type="submit" name="submit" value="submit" style="display: none"/>
			<button class="rounded-circle border border-dark offset-1" onclick="search()">Search</button>
		</div>
	</form>
	<!-- Trigger the Modal -->
	<img id="roadmap" src="CS_Roadmap-1.png" alt="CS Roadmap" style="width:100%;max-width:300px">

	<!-- The Modal -->
	<div id="modal" class="modal">

		<!-- The Close Button -->
		<span class="close">&times;</span>

		<!-- Modal Content (The Image) -->
		<img class="modal-content" id="CS_RM">

		<!-- Modal Caption (Image Text) -->
		<div id="caption"></div>
	</div>
</div>

<script type="text/javascript">
// Get the modal
var modal = document.getElementById('modal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('roadmap');
var modalImg = document.getElementById("CS_RM");
var captionText = document.getElementById("caption");
img.onclick = function(){
modal.style.display = "block";
modalImg.src = this.src;
captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>
<script type="text/javascript">
	function unlockSession() {
		if (typeof unlockSession.unlocked == 'undefined') {
			console.log("I'm unlocking Session")
			unlockSession.unlocked = true;
			document.getElementById('session').disabled = false;
			document.getElementById('directions').innerHTML = 'Next, select a session.'

		}
	}
	function unlockSearch() {
		if (typeof unlockSearch.unlocked == 'undefined') {
			console.log("I'm unlocking Search")
			unlockSearch.unlocked = true;
			document.getElementById('department').disabled = false;
			document.getElementById('search').disabled = false;
			document.getElementById('directions').innerHTML = `Great!<br>You're ready to search for classes.<br>You can filter your search by Major Department.`
		}
	}
</script>