<div class="container align-self-center justify-content-center m-1 border border-danger rounded bg-light text-center">
		<p>5 of 5 results returned</p>
</div>
<div class="container align-self-center justify-content-center m-1 border border-danger rounded bg-light">
	<div class="row">
		<hr/><p>Class #</p><hr/>
		<p>Section #</p><hr/>
		<p>Days</p><hr/>
		<p>Instructor</p><hr/>
	</div>
	<div class="row align-self-center justify-content-center">
		<p>Click for more details</p>
	</div>
</div>
<div class="container align-self-center justify-content-center m-1 border border-danger rounded bg-light">
	<div class="row">
		<hr/><p>Class #</p><hr/>
		<p>Section #</p><hr/>
		<p>Days</p><hr/>
		<p>Instructor</p><hr/>
	</div>
	<div class="row align-self-center justify-content-center">
		<p>Click for more details</p>
	</div>
</div>
<div class="container align-self-center justify-content-center m-1 border border-danger rounded bg-light">
	<div class="row">
		<hr/><p>Class #</p><hr/>
		<p>Section #</p><hr/>
		<p>Days</p><hr/>
		<p>Instructor</p><hr/>
	</div>
	<div class="row align-self-center justify-content-center">
		<p>Click for more details</p>
	</div>
</div>