<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/stylesheets.ejs %>
  </head>
  <body>
    
    <%- include ../partials/navbar.ejs %>




    <%- include ../partials/scripts.ejs %>
  </body>
</html>