<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
header
  </div>
  <div class="row">
    <div class="col-sm-4 bg-warning">
search results
    </div>
    <div class="col-sm-8 bg-danger">
      <div class="row">
        class details
      </div>
      <div class="row">
        schedule
      </div>
    </div>
  </div>
</div>


</body>
</html>
